@import url();
a {
  color: #4d78cc;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}
body {
  background-color: black;
}

h1 {
  background-color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  filter: blur(1);
}

p {
  color: #4d78cc;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  filter: blur(1);
}
