@import url();
a {
  color: #4d78cc;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}

body {
  background-color: black;
}

h1 {
  color: #4d78cc;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}

p {
  color: #4d78cc;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}

li {
  color: #4d78cc;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}
